footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}


.wrapper{
    width: 100%; 
    height: 500px;

    overflow-x:scroll;     
    white-space: nowrap;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vertical-scroll {
  height:500px;
  overflow-y: scroll;
}


.crop {
    width: 800px;
    height: 1200px;
    overflow: hidden;
    object-fit: cover;
}

.crop img {
    width: 800px;
    height: 1200px;
    margin: -75px 0 0 -100px;
    object-fit: cover;
}

