{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<h1>Schools</h1>

<div class="jumbotron">
    <h2 class="display-4">Join Educo</h1>
        <!-- <p class="lead">For Universities which want to ..........................</p> -->
        <hr class="my-4">
        <form action="submit" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">University Name</span>
                </div>
                <input type="text" name="name" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Contact Email</span>
                </div>
                <input type="text" name="email" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
                </div>
                <input type="text" name="phone" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
                </div>
                <input type="text" name="address" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <a type="submit" class="btn btn-light btn-lg" href="/schools/submit/" role="button">Submit</a>
        </form>
</div>

<br><br>

{% endblock content %}