{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}

    <div class="jumbotron">
      <h1 class="display-4">Tim Johnson</h1>
      <p class="lead">
        <h6> Email: t.john@unimalb.com </h6>
        <h6> Role: Tutor </h6>
      </p>
      <hr class="my-4">
      <p>Mater of Computer Science | University of Maloubne(2019)</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">My Posted Materials</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Owned Materials</a>
    </div>

    <h1>My Subjects <span class="badge badge-secondary">1 new update</span></h1>
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">COMP10001 Foundation of Computing</h5>

                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                          Week-6 Tutesheet/answers •
                        </button>

                        <small class="text-muted">Last updated 3 mins ago</small>
                      </h5>
                    </div>

                    <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <div class="wrapper">
                              <a href=materialmarket>
                              <img class="card-img-top" src="{% static 'subjects/comp10001-3.png' %}" alt="Material Preview">
                              </a>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                Week-6 Lab Guides
                        </button>
                        
                        <small class="text-muted">Last updated 1 week ago</small>
                      </h5>
                    </div>
                    <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
Notes:
For discussion and exercises on bugs, it might be a good idea to work through an example of fixing bugs in a program. Strategies like making test cases to see what it does wrong, and where to put diagnostic print statements to hone in on the error.
There’s no exercise related to None but maybe you can chat about it and brainstorm cases in which you would use it. Would be good to point out that to compare to None, you need to use the `is` operator, not `==`.
I hope the first exercise makes sense, my main aim is to get students brainstorming corner cases and understanding how they’re important to create when testing some code.
In exercise 3, there are default arguments. We haven’t seen them before in tutorials so you might like to point it out for students.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Week-5 Lab Guides
                        </button>
                        <small class="text-muted">Last updated 2 weeks ago</small>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                          <div class="wrapper">
                              <img class="card-img-top" src="{% static 'subjects/comp10001-1.png' %}" alt="Material Preview">
                              <img class="card-img-top" src="{% static 'subjects/comp10001-2.png' %}" alt="Material Preview">
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <h5 class="card-title">COMP90024 Cluster and Cloud Computing</h5>
                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Week4 Lecture Material
                        </button>
                        <small class="text-muted">Last updated 1 day ago</small>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <div class="wrapper">
                              <img class="card-img-top" src="{% static 'subjects/comp90023.png' %}" alt="Material Preview" width=100% >
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Week-4 Assignment
                        </button>
                        <small class="text-muted">Last updated 2 days ago</small>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                          <div class="wrapper">
                              <img class="card-img-top" src="{% static 'subjects/material1.png' %}" alt="Material Preview">
                              <img class="card-img-top" src="{% static 'subjects/comp10001-2.png' %}" alt="Material Preview">
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Week4-Worksheet
                        </button>
                        <small class="text-muted">Last updated 1 week ago</small>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </div>



{% endblock content %}

