{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}

<h1>Week6-Tutorial/Answer</h1>
<small class="text-muted">COMP10001-Foundation of Computing</small>
<br/><br/>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Type
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Presentation</a>
            <a class="dropdown-item" href="#">Script</a>
            <a class="dropdown-item" href="#">Note</a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Format
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
            <a class="dropdown-item" href="#">Keynote</a>
            <a class="dropdown-item" href="#">PPT</a>
            <a class="dropdown-item" href="#">PDF</a>
            <a class="dropdown-item" href="#">Bundle</a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Style
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
            <a class="dropdown-item" href="#">Group Work Oriented</a>
            <a class="dropdown-item" href="#">Discussion Based</a>
            <a class="dropdown-item" href="#">Theory Emphasis</a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Length
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
            <a class="dropdown-item" href="#">Long</a>
            <a class="dropdown-item" href="#">Medium</a>
            <a class="dropdown-item" href="#">Short</a>
        </div>
    </div>
</div>

<br/><br/>

<hr class="my-4">
<ul class="list">
  <li class="media my-4">
    <img class="mr-3" src="{% static "subjects/sampleslide1.png" %}" alt="Slide" height=128px>
    <div class="media-body">
        <a href="materialcontent">
            <h5 class="mt-0 mb-1">Worksheet based slide</h5>
        </a>
      <ul>
          <li>
            This keynote presentation is created by refactoring the original tutorial content into logical chunks to provide student with a better understanding of the overall structure.
          </li>
          <li>
            Sample Code fragments are written to accommodate students with weak programming base.
          </li>
          <li>
      Some amount of <b>advanced contents</b> including the built-in <b>pdb</b> debugger are also covered in this slide!
          </li>
      </ul>
    </div>
  </li>
  <hr class="my-4">
  <li class="media my-4">
    <img class="mr-3" src="{% static "subjects/sampleslide2.png" %}" alt="Slide" height=128px>
    <div class="media-body">

    <a href="#">
      <h5 class="mt-0 mb-1">Styled Slide</h5>

    </a>
      <ul>
      <ul>
          <li>
              Created by an experienced tutor
          </li>
          <li>
              All materials are accompanied by great custom samples
          </li>
          <li>
              More contents covered than most other materials
          </li>
          <li>
              Suitable only for experienced tutors
          </li>
      </ul>
    </div>
  </li>
  <hr class="my-4">
</ul>



{% endblock content %}

