{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% load static %}

{% block content %}


    <div class="jumbotron1 text-center">

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="col-sm-12">
            <img src="{% static "images/books.jpg" %}" width="150" height="150">

        </div>
      <h3>Library</h3>
      <p>A personal library created for you to access from anywhere</p>

    </div>
    <div class="col-sm-4">
        <div class="col-sm-12">
            <img src="{% static "images/microscope.jpg" %}" width="150" height="150">
        </div>
        <h3>Analysis</h3>
        <p>Embedded student homework analysis</p>

    </div>
    <div class="col-sm-4">
        <div class="col-sm-12">
            <img src="{% static "images/science.jpg" %}" width="150" height="150">
        </div>
        <h3>Easy Version Control</h3>
        <p>Build for more efficient subject coordination</p>
    </div>
  </div>
</div>
{% endblock content %}