{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}

<body>
    <h1 align="center">Welcome to Educo</h1>
    <div>
        <h2 align="center">Our organisations</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body" style="background-color: #0a4083">
                        <a href="https://www.unimelb.edu.au/"><img
                                src="https://d2glwx35mhbfwf.cloudfront.net/v3.1.5/logo.svg" class="card-img-top"
                                alt="The University of Melbourne" width="200" height="200"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <a href="https://www.monash.edu/"><img
                                src="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/monash-logo-mono.svg"
                                class="card-img-top" alt="Monash University" width="200" height="200"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <a href="https://www.rmit.edu.au/"><img
                                src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/11988729_590471301092591_7461287366145774742_n.jpg?_nc_cat=106&_nc_ht=scontent-syd2-1.xx&oh=3759c4997fcafc3d74825ee295aaecb9&oe=5D6C2411"
                                class="card-img-top" alt="RMIT" width="200" height="200"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>
        <h4>Want to join? Click<a style="font-size: 20pt" href="/schools/join/" class="badge badge-light">HERE</a></h4>
    </p>


</body>
{% endblock content %}